/* font-family: 'Marck Script', cursive;
font-family: 'Poppins', sans-serif; */
*{
    font-family: 'Poppins', sans-serif;
}
.logo, span{
    font-family: 'Marck Script', cursive;
}
span{
    color: #881911 !important;
}

.shop_nav:hover, .nav-link:hover{
    color: #610d07 !important;
}

.nav-link.active, .shop_nav:active{
    color: #610d07 !important;
    font-weight: 400 !important;
}

@keyframes rotate {
    0% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

.shop_nav:hover img {
    animation: rotate 0.2s ease;
    transform-origin: center; 
}



